{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--informacion general-->
    <title></title>
    <meta charset="utf-8" />
    <!-- forma de describir que tipo de caracteres estan en la pagina utf-8 es para EN -->
    <meta name="description" content="" />
    <!--Usado por el search engine-->
    <!--links para ccs file y icono del website-->
    <link rel="stylesheet" type="text/css" href="{% static 'PortfolioApp/style.css' %}" />
    <link href="" type="image/x-icon" rel="shortcut icon" />
    <link
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      rel="stylesheet"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NavStart  -->
    <nav id="navbar" class="nav">
      <ul class="nav-list">
        <li>
          <a href="#welcome-section">About</a>
        </li>
        <li>
          <a href="#projects">Work</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- NavEnd -->
    <!-- AboutStart -->
    <section id="welcome-section" class="welcome-section">
      <h1>YourName</h1>
      <p>Rol or quote</p>

      <div class="list-skills">
        <a href="" target="_blank" class="skills"
          ><i class="fab fa-python"></i>Python</a
        >
        <a href="" target="_blank" class="skills"
          ><i class="fab fa-python"></i>Python2</a
        >
        <a href="" target="_blank" class="skills"
          ><i class="fab fa-python"></i>Python3</a
        >
      </div>
    </section>
    <!-- AboutEnd -->
    <!-- ProjectStart -->
    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">Finished Projects</h2>
      <div class="projects-grid">
        <!--<a href="" target="_blank" class="project project-tile">
          <img class="project-image" type="image/webp" src="" alt="project" /> 
          <p class="project-title">
            <span class="code">&lt;</span>
            Nombre Del Proyecto
            <span class="code">&#47;&gt;</span>
          </p>
        </a> -->
        <a
          href="https://codepen.io/julio-velezmoro/full/eYyPBJw"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            type="image/webp"
            src="https://shots.codepen.io/julio-velezmoro/pen/eYyPBJw-320.webp?version=1650040633"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            Technical documentation
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
        <a
          href="https://codepen.io/julio-velezmoro/full/PoEpzNb"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            type="image/webp"
            src="https://shots.codepen.io/julio-velezmoro/pen/PoEpzNb-320.webp?version=1650039296"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            Survey Form
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
      </div>
      <a
        href="https://github.com/JeanFerreira91"
        class="btn btn-show-all"
        target="_blank"
        >Show all<i class="fas fa-chevron-right"></i>
      </a>
    </section>
    <!-- ProjectEnd -->
    <!-- ContactStart -->
    <section id="contact" class="contact-section">
      <div class="contact-section-header">
        <h2>Let's work together...</h2>
        <p>as a team</p>
      </div>
      <div class="contact-links">
        <a href="" target="_blank" class="btn contact-details"
          ><i class="fab fa-facebook-square"></i> Facebook</a
        >
        <a id="profile-link" href="" target="_blank" class="btn contact-details"
          ><i class="fab fa-github"></i> GitHub</a
        >
        <a href="" target="_blank" class="btn contact-details"
          ><i class="fab fa-twitter"></i> Twitter</a
        >
        <a href="" target="_blank" class="btn contact-details"
          ><i class="fas fa-at"></i> Send a mail</a
        >
        <a href="tel:976-12-91" class="btn contact-details"
          ><i class="fas fa-mobile-alt"></i> Call me</a
        >
      </div>
    </section>
    <!-- ContactEnd -->
    <!-- FooterStart -->
    <footer>
      <p>
        **This is my first portfolio. All the projects are exercises from
        freecodecamp.
      </p>
      <p>
        &copy; Created by
        <a href="https://github.com/Lakorthus" target="_blank"
          >Julio Velezmoro <i class="fab fa-hammer"></i
        ></a>
      </p>
    </footer>
    <!-- FooterEnd -->
  </body>
</html>
